<div class="events-bar">
  <svg class="backer" version="1.1" viewBox="0 0 442 462" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    <g fill="#a9ee40" id="Artboard-Copy">
      <path d="M0,263.418724 C0,127.63879 90.1216872,-42.8409038 218.156724,9.78228464 C346.191761,62.405473 440.21789,111.220928 440.21789,196.138153 C440.21789,281.055379 458.609028,391.885899 367.298754,446.87498 C275.988481,501.864061 6.05506545e-15,399.198658 0,263.418724 Z" id="Path-2"></path>
    </g>
  </svg>
  <div class="events-sidebar-holder">
    {% for event in sticky_event %}
      <div class="featured text-white">Featured Event</div>
      <div href="{{event.guid}}" class="event-card sidebar" style="background-image: url({{event.thumbnail.src}});">
        <a href="{{event.guid}}" class="event-card-content">
          <br>
            <br>
              <div class="event_artist">
                {{Post(event.artist).title}}</div>
              <div class="event_title">
                {{event.title}}</div>
              <div class="event_meta">
                {{Post(event.venue).title}}</div>
            </a>
          </div>
        {% endfor %}
        <div class="close-events">
          <h4 class="other-events-title">Other Events</h4>
          {% for event in close_events %}
            <a href="{{event.guid}}" class="close-event">
              <div class="event_artist">
                {{Post(event.artist).title}}</div>
              <div class="event_title">
                {{event.title}}</div>
              <div class="event_meta">
                {{Post(event.venue).title}}</div>
            </a>
          {% endfor %}
          <br>
            <br>
              <div class="button purple">Show me more</div>
            </div>
          </div>
        </div>
