	<div class="content-inner-wrapper content">
		<article class="single-post post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			{# <img src="{{ post.thumbnail.src|resize(1200, 300) }}"> #}
			<section class="article-content">
				<div class="preheader-item-tags">
					{% for cat in post.categories %}
						{% if loop.index0 < 20 %}
							<a href="/{{cat.taxonomy}}/{{cat.slug}}" style="background: RGBA(238, 99, 64, 1.00); transform: scale(1.1); margin-right: 20px;" class="preheader-item-tag tag">{{cat.title}}</a>
						{% endif %}
					{% endfor %}
				</div>
				<h1 class="article-h1">{{ post.title }}</h1>
				<p class="blog-author">
					<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span>
					{% if date(post.date) < date("-3 days") %}
						{{post.date("d F Y")}}
					{% else %}
						{{post.date|timeago}}
					{% endif %}
				</p>
				<div class="preheader-item-tags">
					{% for cat in post.tags %}
						{% if loop.index0 < 5 %}
							<a href="/tag/{{cat.slug}}" class="preheader-item-tag tag">{{cat.title}}</a>
						{% endif %}
					{% endfor %}
				</div>
				<br />
				<div class="article-body">
					{{post.content}}
				</div>
				<div class="article-author">
					<h4 class="author-title">{{post.author.display_name}}</h4>
					<p class="bio">{{author_bio}}</p>
				</div>
				<div class="preheader-item-tags post-bottom">
					{% for cat in post.tags %}
						{% if loop.index0 < 4 %}
							<a href="/tag/{{cat.slug}}" class="preheader-item-tag tag">{{cat.title}}</a>
						{% endif %}
					{% endfor %}
				</div>
			</section>

			<section class="comments-fb-wrapper">
{{function('do_shortcode', '[gs-fb-comments]')}}
			</section>

			<!-- comment box -->
			{#<section class="comment-box">
				<!-- comments -->
				<div class="comments">
				    {% if post.comments %}
					<h3> comments </h3>
					{% for cmt in post.comments %}
					    {% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				    {% endif %}
				</div>

				{% if post.comment_status == "closed" %}
					<p> comments for this post are closed </p>
				{% else %}
				    <!-- comment form -->
				    {% include "comment-form.twig" %}
				{% endif %}
			</section>#}
		</article>
	</div><!-- /content-wrapper -->